<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">

        <div class="main">
                <div class="main-icon">
                        <span><i class="fas fa-search"></i></span>
                        <span>Board&Member</span>
                </div>
                <div class="sub"><a class="sub-a" href="">Home</a></div>
                <div class="sub"><a class="sub-a" href="">게시물찾기</a></div>
        </div>

        <form action="">
                <input class="input-main" type="text" placeholder="검색어를 입력해주세요">
                <input type="submit" value="검색">

        </form>


</header>
</html>